:root{
    /* background colors */
    --bg-primary-color: #1b1a1a;
    
    /* colors */
    --text-primary-color: #f2f0f0;

    /* border color */
    --border-primary-color: rgb(213, 206, 206);
    --border-secondary-color: rgb(99, 97, 97);

    /* spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-2xl: 64px;
    --space-3xl: 80px;

    /* fontSize */
    --size-xs: 8px;
    --size-sm: 12px;
    --size-md: 16px;
    --size-lg: 20px;
    --size-xl: 24px;
    --size-2xl: 32px;
    --size-3xl: 48px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-size: var(--size-md);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .infos{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    gap: var(--size-sm);
}

main .infos .info{
    border: 1px solid var(--border-primary-color);
    padding: var(--size-sm);
    border-radius: var(--size-sm);
    flex-grow: 1;
    text-align: center;
}

#score{
    color: rgb(6, 151, 6);
}
#highScore{
    color: rgb(228, 11, 11);
}

section{
    width: 100%;
    height: 100%;
    margin: var(--size-sm);
    padding: var(--size-sm);
}

.board{
    width: 100%;
    height:100%;
    border: 1px solid var(--border-primary-color);
    display: grid;
    grid-template-rows:repeat(auto-fill, minmax(30px, 1fr));
    grid-template-columns:repeat(auto-fill, minmax(30px, 1fr));
}

.board .cell{
    min-width: 30px;
    min-height: 30px;
}

.snakeCell{
    background-color: rgb(157, 6, 183);
    border-radius: 30px;
    box-shadow: 3px 3px 6px #1c0d15;
}

.food{
    background-color: rgb(210, 210, 2);
    box-shadow: 0px 0px 6px rgb(197, 197, 58);
    border-radius: 50%;
    animation: foodBlink 2s ease-in-out infinite alternate;
}

@keyframes foodBlink{
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.start-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);
    backdrop-filter: blur(10px);
    background-color: rgba(51, 48, 48, 0.07);
}

.btn{
    padding: var(--size-xs) var(--size-sm);
    border-radius: 12px;
}

.start-modal .btn-start{
    width: 10%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.start-modal .btn-start:hover{
    transform: scale(1.05);
}